section {
  display: inline-block;
}

.logo {
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #0a1b32;
  margin-top: 37px;
  margin-left: 80px;
}

.logo-dot {
  color: #824ff1;
}

.main-title {
  max-width: 495px;
  width: 100%;
  margin-top: 203px;
  margin-left: 200px;
  font-family: "Ramaraja", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  letter-spacing: 0.02em;

  color: #1b0a42;
}

.main-info {
  max-width: 591px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-left: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  letter-spacing: 0.02em;

  color: #9a9a9a;
}

.main-btn {
  width: 152px;
  height: 68px;
  margin-top: 50px;
  margin-left: 200px;
  background: #824ff1;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
}
